<!DOCTYPE html>
<html>
  <head>
    <title>Pickup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <% if logged_in? %>
      <script>
        window.currentUser = {
          "id": <%= current_user.id %>,
          "full_name": "<%= current_user.full_name %>",
          "email": "<%= current_user.email %>",
          "hobby_ids": <%= get_current_user_hobbies %>,
          "thing_ids": <%= get_current_user_things %>
        }
      </script>
    <% end %>
    <script type="text/javascript">
      window.logo = "<%= image_url('pickup_logo.jpg') %>";
      window.logged_out = "<%= image_url('logged_out.jpg') %>";
      window.logoNegative = "<%= image_url('logo_negative.jpg') %>";
      window.searchIcon = "<%= image_url('search_icon.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
